/*Custom CSS for LoginForm*/
.box {
	background: white;
	padding: 10px;
	width: 300px;
	margin: 0 auto 0 auto;
	border-radius:6px;
	border: #2980b9 4px solid;
	padding:0px 0px 70px 0px;
}

.box h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.box label {
	font-family: 'Roboto', sans-serif;
	padding: 8px;
  	width:250px;
}


#btn1 {
	background:#2ecc71;
  	width:125px;
  	padding-top:5px;
  	padding-bottom:5px;
  	color:white;
  	border-radius:4px;
  	border: #27ae60 1px solid;
  	margin-top:20px;
  	margin-bottom:20px;
  	float:left;
 	margin-left:16px;
  	font-weight:800;
  	font-size:0.8em;
  	text-align: center;
}

#btn2 {
	float:left;
	background:#3498db;
  	width:125px;  padding-top:5px;
  	padding-bottom:5px;
  	color:white;
  	border-radius:4px;
  	border: #2980b9 1px solid;
  
  	margin-top:20px;
  	margin-bottom:20px;
  	margin-left:10px;
  	font-weight:800;
  	font-size:0.8em;
  	text-align: center;
}

.InputField {
	background:#ecf0f1;
  	border: #ccc 1px solid;
  	border-bottom: #ccc 2px solid;
  	padding: 8px;
  	width:250px;
  	color:#AAAAAA;
  	margin-top:10px;
  	font-size:1em;
  	border-radius:4px;
}